@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Asterick syntax */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generic body style */
 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: cadetblue;
    font-family: roboto;
 }

/*heading style  */
header {
   z-index: 3;
   width: 100%;
   box-shadow: 0 1px;
   background-color:white;
   justify-content: space-between;
   align-items: baseline;
   position: fixed;
   padding: 0 16px 0 16px;
   display: flex;
   

}

header a {
   text-decoration: none;
   color: #14202f;
   /* color: rgb(2, 27, 65);; */
}

h1 {
   letter-spacing: .5px;
   font-family: roboto;
   font-size: larger;
}


/* navigation bar menu ID */
#bar {
    list-style-type: none;
    font-size: 90%;
    letter-spacing: 2px;
}

#bar > li {
   margin-bottom: 12px;
}

.active {
   border-bottom: 1px solid #000000;
}

/* creating a navigation style */
nav {
   padding: 0 16px 0 16px;
   width: 100%;
   position: absolute;
   top: 100%;
   left: 0;
   display: none;
   background-color: #ffffff;
   box-shadow: 0 1px #14202f;

}

/* adding navigation clicking */
#nav-click:checked~nav {
   display: block;
}

#nav-click {
     display: none;
}
.nav-click-label {
    font-size: 2rem;
}

/* main style content */
main {
   flex: 1 0 auto;
   margin-top: 32px;
   font-family: robto;
}

/* flight section */
#flight {
   height: 600px;
   width: 100%;
   background: url("../image/plane.webp") no-repeat center center/cover;

}

/* footer */
#social-media {
    background-color: black;
    padding: 20px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

#social-media i {
   color: #ffffff;
   padding: 5%;
   font-size: 120%;
   justify-content: center;
}


/* creating media query from mobile-to-tablet using 768px */

@media screen and (min-width: 768px) {
   nav {
      position: relative;
      width: fit-content;
      padding-right: 16px;
      display: block;
   }
   #bar {
      display: flex;
   }
   #bar > li {
      padding-left: 16px;
   }
   
   .nav-click-label {
      display: none;
   }

   #symbol {
      margin: 0 0 0 2px;
      font-size: 180%;
      line-height: 45px;
   }

   main {
      margin-top: 48px;
   }

}

/* Creating media query for larger device */
@media screen and (min-width: 992px) {
   
   #bar a:hover {
      border-bottom: 1px solid #14202f;
   }
}