@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Asterick syntax */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generic body style */
 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: roboto;
 }

/*heading style  */
header {
   z-index: 3;
   width: 100%;
   box-shadow: 0 1px;
   background-color:white;
   justify-content: space-between;
   align-items: baseline;
   position: fixed;
   padding: 0 16px 0 16px;
   display: flex;
   
}

header a {
   text-decoration: none;
   color: #14202f;
   /* color: rgb(2, 27, 65);; */
}

h1 {
   letter-spacing: .5px;
   font-family: roboto;
   font-size: larger;
}


/* navigation bar menu ID */
#bar {
    list-style-type: none;
    font-size: 90%;
    letter-spacing: 2px;
}

#bar > li {
   margin-bottom: 12px;
}

.active {
   border-bottom: 1px solid #000000;
}

/* creating a navigation style */
nav {
   padding: 0 16px 0 16px;
   width: 100%;
   position: absolute;
   top: 100%;
   left: 0;
   display: none;
   background-color: #ffffff;
   box-shadow: 0 1px #14202f;

}

/* adding navigation clicking */
#nav-click:checked~nav {
   display: block;
}

#nav-click {
     display: none;
}
.nav-click-label {
    font-size: 2rem;
}

/* main style content */
main {
   flex: 1 0 auto;
   margin-top: 32px;
   font-family: robto;
}


/* flight section */
#booking {
   min-height: 80vh;
   width: 100%;
   background: url("../image/plane.webp") no-repeat center center/cover;
   position: relative;

}


#flight {
   width: 100%;
}

#front-text {
   color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   margin-bottom: 20px;
   margin-top: 40px;

}

.explore {
   margin-bottom: 50px;
   background-color: rgba(0, 0, 0, .6);
   margin: 5px;

}

h2 {
  color: #ffffff;
  padding-top: 20px;
  text-align: center;
} 



/* registration properties */

#registration-form {
   padding: 0 10px;
   background-color: rgba(0, 0, 0, .6);
   color: #ffffff;
   width: 100%;
   border-radius: 10px;
   padding-bottom: 50px;
}


#registration {
   width: 100%;
}

.book-input {
   background: transparent;
   cursor: pointer;
   color: #ffffff;
}

.book-button {
   background-color: #ffffff;
   color:#000000;
   cursor: pointer;
   padding: 15px;
   font-weight: bold;
   margin-top: 10px;

}

.book-button:hover {
   background-color: saddlebrown;
}


/* styling of booking page */
#booking-image {
   background: url("../image/booking-image.webp") no-repeat center center/cover;
   min-height: 85vh;
   width: 100%;
}
   

/* footer */
#social-media {
    background-color: black;
    padding: 20px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

#social-media i {
   color: #ffffff;
   padding: 5%;
   font-size: 120%;
   justify-content: center;
}


/* creating media query from mobile-to-tablet using 768px */

@media screen and (min-width: 768px) {
   nav {
      position: relative;
      width: fit-content;
      padding-right: 16px;
      display: block;
   }
   #bar {
      display: flex;
   }
   #bar > li {
      padding-left: 16px;
   }
   
   .nav-click-label {
      display: none;
   }

   #symbol {
      margin: 0 0 0 2px;
      font-size: 180%;
      line-height: 45px;
   }

   main {
      margin-top: 48px;
   }
   
#registration-form  {
   margin: 5px;
}

   #registration {
      align-items: center;
      width: 500px;
      height: 250px;
      align-items: center;
      margin: auto;
   }

   #front-text {
      margin-top: 50px;
   }

}

/* Creating media query for larger device */
@media screen and (min-width: 992px) {
   
   #bar a:hover {
      border-bottom: 1px solid #14202f;
   }
    .explore {
      display: flex;
      flex-direction: column;
     height: 100px;
     width: 100%;
     margin: 20px;
     background-color: rgba(0, 0, 0, .6);
     
   } 
   #registration-form {
      padding: 0 10px;
      background-color: rgba(0, 0, 0, .6);
      color: #ffffff;
      width: 500px;
      height: 250px;
      border-radius: 10px;
      margin-bottom: 5rem;
   }
   #registration {
      margin-bottom: 50px;
   }
   #booking {
      min-height: 100vh;
   }

   #front-text {
      margin-top: 50px;
   }


}
/* media query for destop and larger */
@media screen and (min-width: 1024px) {
   #registration {
      margin-bottom: 50px;
   }
   #booking {
      height: 100vh;
   }

   #front-text {
      margin-top: 50px;
   }
}